{% block content %}
{% load static %}

<nav class="navbar navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'printjob:home' %}">
            <img src="{% static 'printjobs/img/shutterstock_2036859791.png' %}" alt="Olababs" width="30" height="24" class="d-inline-block align-text-top">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse nav-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if '/' == request.path %} active {% endif %}" aria-current="page" href="{% url 'printjob:home' %}">Home</a>
                </li>

                <li class="nav-item" href="#about">
                    <a class="nav-link" href="#">About Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Our Services</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Testimonials</a>
                </li>
            </ul>


        </div>
    </div>
</nav>

<nav class="navbar navbar-light bg-light justify-content-center">
   <div class="container-fluid">
       <form class="d-flex col-md-3">
           <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
           <button class="btn btn-outline-dark" type="submit">Search</button>
        </form>
    </div>
</nav>
{% endblock %}